/* Global Styles */
body {
  margin: auto;
  background-color: #9D9D9D;
}

h1, h2 {
  text-align: center;
  margin: auto;
  padding-top: 15+px;
  clear: both;
}

.skills h2 {
  text-align: left;
  clear:both;
  margin-top: 30px;
}

/* Navigation Styles */


.logo {
  float: left;
  width: 80px;
}


/* Profile Styles */
.profile-pic {
  float: left;
  display: block;
  clear: both;
  border-radius: 50%;
  width: 15%;
  margin: 10px 30px;
}

.info p {
  overflow: auto;
  display: block;
  margin: 40px 100px;
  padding-top: 60px;
  line-height: 1.5em;
}

/* Skills Section */
.skills {
  margin: 0 20px;
}



/* Footer Styles */
footer {
  margin: 15px 0;
  position: fixed;
  bottom: 0%;
  left: 40%;
  padding-top: 20px;
}

footer h3 {
  text-align: center;
}


a:link {
  text-decoration: none;
  padding: 0 20px;
}

/* Media Queries */

@media screen and (min-width: 750px){
  footer {
    padding-top: 20px;
    position: relative;
    left: 0%;
    text-align: center;
  }


}
@media screen and (max-width: 749px) {
  footer {
    padding-top: 20px;
    position: relative;
    left: 0%;
    text-align: center;
  }


}
