/* Global Styles */
body {
  margin: auto;
    background-color: #9D9D9D;
}

/* Navigation Section */

.logo {
  height: 40px;
}

/* Grid Styles */

.container {
  display:grid;
  grid-template-columns: auto auto auto;
  margin: 40px 50px;
  column-gap: 5px;
  row-gap: 5px;
}

.grid-item {
  text-align: center;
  border: 1px solid;
  padding: 30px 0;
}
